extends layout

block header
	header

block content
	section#container
		h1 Join the New Myspace

		ul
			li
				p.
					FULL NAME
				input
			li
				p.
					EMAIL
				input
			li
				p.
					PASSWORD
				input
			li
				p.
					USER NAME
				input
		ul
			li.first
				a(href='#') foo
			li: a(href='#') bar
			li.last: a(href='#') baz

		friends = 10
		case friends
			when 0
				p you have no friends
			when 1
				p you have a friend
			default
				p you have #{friends} friends

		ul
			- var items = ["one", "two", "three"]
			each item in items
				li= item

		ul
			items = ["one", "two", "three"]
			each item, i in items
				li #{item}: #{i}

		ul
			obj = { foo: 'bar' }
			each val, key in obj
				li #{key}: #{val}


